.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    width: 350px;
    text-align: center;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .full-width {
    width: 100%;
  }
  
  .log {
    margin-top: 20px;
  }
  
  /* Styling for log messages */
  .log p {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
  }
  